.denomination-item {
  list-style-type: none;
  width: 48%;
  margin-bottom: 16px;
}
.denomination-button {
  color: #ffffff;
  font-weight: 600;
  border: 1px solid #c4c4c4;
  width: 100%;
  padding: 3px;
  font-size: 13px;
  background-color: #382f5a;
  margin: 9px 9px 9px 2px;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
}
